@import './base.css';

#app {
  margin: auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  color: rgb(0, 0, 0);
}

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
  body {
  }

}
